# Files to ignore when considering what GIT should commit.

# Visual Studio 
*.suo
*.user
*.sln.docstates
*.obj
*.pch
*.tlog
*.log
*.scc
*.exp
*.ilk
*.lastbuildstate
vc100.pdb
vc120.pdb
vc140.pdb
ipch
*.sdf
*.opensdf
*.idb
*.vcxproj
*.vpc_crc
*.sln
*.res
.vs/
Release*/
Debug*/
*.db
*.VC.db

*.vpc.sentinel
*.vpc_cache
*.vcxproj.*
*.opendb

# OSX/Linux build products
*.mak
*.mak.vpc_crc
*.xcodeproj/
obj*/
!devtools/*.mak
!utils/smdlexp/smdlexp.mak

# Specific Source build products
_vpc_/
src/vscript/languages/squirrel/vsquirrel/init_nut.h
generated_proto/

# shader files
*.tmp

*.db
src/hl2_game.VC.db
src/hl2_game.VC.db
*.pdb
src/lib/public/appframework.lib
src/lib/public/bitmap.lib
src/lib/public/bitmap_byteswap.lib
src/lib/public/dmxloader.lib
src/lib/public/interfaces.lib
src/lib/public/mathlib.lib
src/lib/public/matsys_controls.lib
src/lib/public/quickhull.lib
src/lib/public/soundsystem_lowlevel.lib
src/lib/public/tier0.lib
src/lib/public/tier1.lib
src/lib/public/tier2.lib
src/lib/public/tier3.lib
src/lib/public/vgui_controls.lib
src/lib/public/videocfg.lib
src/lib/public/vstdlib.lib
src/lib/public/vtf.lib
src/hl2_game.VC.db
src/lib/common/bzip2.lib
src/lib/common/mxtoolkitwin32.lib
src/lib/public/appframework.lib
src/lib/public/bitmap.lib
src/lib/public/bitmap_byteswap.lib
src/lib/public/bonesetup.lib
src/lib/public/choreoobjects.lib
src/lib/public/datamodel.lib
src/lib/public/dme_controls.lib
src/lib/public/dmserializers.lib
src/lib/public/dmxloader.lib
src/lib/public/fgdlib.lib
src/lib/public/fow.lib
src/lib/public/game_controls.lib
src/lib/public/interfaces.lib
src/lib/public/matchmakingbase.lib
src/lib/public/matchmakingbase_ds.lib
src/lib/public/materialobjects.lib
src/lib/public/mathlib.lib
src/lib/public/mathlib_extended.lib
src/lib/public/matsys_controls.lib
src/lib/public/mdlobjects.lib
src/lib/public/meshutils.lib
src/lib/public/movieobjects.lib
src/lib/public/particles.lib
src/lib/public/quickhull.lib
src/lib/public/raytrace.lib
src/lib/public/resourcefile.lib
src/lib/public/responserules_runtime.lib
src/lib/public/shaderlib.lib
src/lib/public/soundsystem_lowlevel.lib
src/lib/public/tier0.lib
src/lib/public/tier1.lib
src/lib/public/tier2.lib
src/lib/public/tier3.lib
src/lib/public/toolutils.lib
src/lib/public/unitlib.lib
src/lib/public/vgui_controls.lib
src/lib/public/vgui_surfacelib.lib
src/lib/public/videocfg.lib
src/lib/public/vpklib.lib
src/lib/public/vstdlib.lib
src/lib/public/vtf.lib
src/hl2_game.VC.db
game.7z
src/lib/common/bzip2.lib
src/lib/common/havana_constraints.lib
src/lib/common/hk_base.lib
src/lib/common/hk_math.lib
src/lib/common/ivp_compactbuilder.lib
src/lib/common/ivp_physics.lib
src/lib/public/appframework.lib
src/lib/public/bitmap.lib
src/lib/public/bitmap_byteswap.lib
src/lib/public/bonesetup.lib
src/lib/public/choreoobjects.lib
src/lib/public/datamodel.lib
src/lib/public/dme_controls.lib
src/lib/public/dmserializers.lib
src/lib/public/dmxloader.lib
src/lib/public/fgdlib.lib
src/lib/public/fow.lib
src/lib/public/game_controls.lib
src/lib/public/interfaces.lib
src/lib/public/matchmakingbase.lib
src/lib/public/matchmakingbase_ds.lib
src/lib/public/materialobjects.lib
src/lib/public/mathlib.lib
src/lib/public/mathlib_extended.lib
src/lib/public/matsys_controls.lib
src/lib/public/mdlobjects.lib
src/lib/public/meshutils.lib
src/lib/public/movieobjects.lib
src/lib/public/particles.lib
src/lib/public/quickhull.lib
src/lib/public/raytrace.lib
src/lib/public/resourcefile.lib
src/lib/public/responserules_runtime.lib
src/lib/public/shaderlib.lib
src/lib/public/soundsystem_lowlevel.lib
src/lib/public/tier0.lib
src/lib/public/tier1.lib
src/lib/public/tier2.lib
src/lib/public/tier3.lib
src/lib/public/toolutils.lib
src/lib/public/unitlib.lib
src/lib/public/vgui_controls.lib
src/lib/public/vgui_surfacelib.lib
src/lib/public/videocfg.lib
src/lib/public/vpklib.lib
src/lib/public/vstdlib.lib
src/lib/public/vtf.lib
